<!DOCTYPE html>
<html>
    <head>
        <style>
            img {
                border: 5px solid black;
              }
              body{
                background-color: #848482;
              }
              </style>
        <title>Predicting Flags</title>
    </head>
    <body>
        <h2 align="center">Predicting Flags from 1990s</h2>
        <div align="center">
            <form id="flagForm">
                <div style="left: 250px;">
                <label for="bars">How many Bars does it have:</label>
                <input type="number" id="bars" name="bars"><br><br>
                <label for="stripes">How many Stripes does it have:</label>
                <input type="number" id="stripes" name="stripes"><br><br>
                <label for="colors">How many Colors does it have:</label>
                <input type="number" id="colors" name="colors" max="6"><br><br>
                    <label for="red">Red</label>
                    <input type="checkbox" name="red" value="on"><br><br>
                    <label for="green">Green</label>
                    <input type="checkbox" name="green" value="on"><br><br>
                    <label for="blue">Blue</label>
                    <input type="checkbox" name="blue" value="on"><br><br>
                    <label for="gold">Gold</label>
                    <input type="checkbox" name="gold" value="on"><br><br>
                    <label for="white">White</label>
                    <input type="checkbox" name="white" value="on"><br><br>
                    <label for="black">Black</label>
                    <input type="checkbox" name="black" value="on"><br><br>
                    <label for="orange">Orange</label>
                    <input type="checkbox" name="orange" value="on"><br><br>
                </div>
                <label for="circles">How many Circles does it have:</label>
                <input type="number" id="circles" name="circles"><br><br>
                <label for="crosses">How many Crosses does it have:</label>
                <input type="number" id="crosses" name="crosses"><br><br>
                <label for="saltires">How many Saltires does it have:</label>
                <input type="number" id="saltires" name="saltires"><br><br>
                <label for="quarters">How many Quarters does it have:</label>
                <input type="number" id="quarters" name="quarters"><br><br>
                <label for="sunstars">How many Sunstars does it have:</label>
                <input type="number" id="sunstars" name="sunstars"><br><br>
                <div>
                    <label for="crescent">Crescent</label>
                    <input type="checkbox" name="crescent" value="on"><br><br>
                    <label for="triangle">Triangle</label>
                    <input type="checkbox" name="triangle" value="on"><br><br>
                    <label for="animate">Animate</label>
                    <input type="checkbox" name="animate" value="on"><br><br>
                    <label for="icon">Icon</label>
                    <input type="checkbox" name="icon" value="on"><br><br>
                    <label for="text">Text</label>
                    <input type="checkbox" name="text" value="on"><br><br>
                </div>
                <button type="button" id="predictBtn">Predict</button>
            </form>
        </div>
        <h3 align="right">github.com/Branko420/project_for_uni</h3p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>