<!DOCTYPE html>
<html>
    <head>
        <title>Predicted Flag </title>
    </head>
    <body>
        <div align = "center">
            <br>
            <br>
            {% if prediction == "Afghanistan" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Flag_of_Afghanistan_%281987%E2%80%931992%29.svg">
            {% elif prediction == "Albania" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Flag_of_Albania_%281946%E2%80%931992%2C_3-2%29.svg">
            {% elif prediction == "Algeria" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_Algeria.svg">
            {% elif prediction == "American-Samoa" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Flag_of_American_Samoa.svg">
            {% elif prediction == "Andorra" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Andorra.svg">
            {% elif prediction == "Angola" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Flag_of_Angola.svg">
            {% elif prediction == "Anguilla" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Flag_of_the_Governor_of_Anguilla_%281990%E2%80%931999%29.svg">
            {% elif prediction == "Antigua-Barbuda" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Flag_of_Antigua_and_Barbuda.svg">
            {% elif prediction == "Argentina" or prediction == "Argentine" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg">
            {% elif prediction == "Australia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Flag_of_Australia_%28converted%29.svg">
            {% elif prediction == "Austria" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Flag_of_Austria_%28state%29.svg">
            {% elif prediction == "Bahamas" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Flag_of_the_Bahamas.svg">
            {% elif prediction == "Bahrain" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Flag_of_Bahrain_%281972%E2%80%932002%29.svg">
            {% elif prediction == "Bangladesh" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Flag_of_Bangladesh.svg">
            {% elif prediction == "Barbados" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Flag_of_Barbados.svg">
            {% elif prediction == "Belgium" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Flag_of_Belgium_%28civil%29.svg">
            {% elif prediction == "Belize" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Flag_of_Belize.svg">
            {% elif prediction == "Benin" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Flag_of_Benin_%281975%E2%80%931990%29.svg/800px-Flag_of_Benin_%281975%E2%80%931990%29.svg.png?20111029201722">
            {% elif prediction == "Bermuda" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Flag_of_Bermuda_%281910%E2%80%931999%29.svg">
            {% elif prediction == "Bhutan" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Flag_of_Bhutan.svg">
            {% elif prediction == "Bolivia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Flag_of_Bolivia.svg">
            {% elif prediction == "Botswana" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Flag_of_Botswana.svg">
            {% elif prediction == "Brazil" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/Flag_of_Brazil_%281968%E2%80%931992%29.svg">
            {% elif prediction == "British-Virgin-Isles" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_the_British_Virgin_Islands_%283-2%29.svg">
            {% elif prediction == "Brunei" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Naval_Ensign_of_Brunei_%281984-late_1990s%29.svg">
            {% elif prediction == "Bulgaria" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Flag_of_Bulgaria_%281971%E2%80%931990%2C_3-2%29.svg">
            {% elif prediction == "Burkina" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/31/Flag_of_Burkina_Faso.svg">
            {% elif prediction == "Burma" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Flag_of_Myanmar_%281974%E2%80%932010%29.svg">
            {% elif prediction == "Burundi" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Flag_of_Burundi.svg">
            {% elif prediction == "Cameroon" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Flag_of_Cameroon.svg">
            {% elif prediction == "Canada" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Flag_of_Canada_%28Pantone%29.svg">
            {% elif prediction == "Cape-Verde-Islands" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Cape_Verde_flag_-_watermark_000_percent.jpg">
            {% elif prediction == "Cayman-Islands" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Flag_of_the_Cayman_Islands_%28pre-1999%29.svg">
            {% elif prediction == "Central-African-Republic" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Flag_of_the_Central_African_Republic.svg">
            {% elif prediction == "Chad" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4b/Flag_of_Chad.svg">
            {% elif prediction == "Chile" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Flag_of_Chile.svg">
            {% elif prediction == "China" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Flag_of_the_People%27s_Republic_of_China.svg">
            {% elif prediction == "Colombia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Colombia.svg">
            {% elif prediction == "Comorro-Islands" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Flag_of_the_Comoros_%281978%E2%80%931992%29.svg">
            {% elif prediction == "Congo" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Flag_of_the_Republic_of_the_Congo.svg">
            {% elif prediction == "Cook-Islands" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Flag_of_the_Cook_Islands.svg/800px-Flag_of_the_Cook_Islands.svg.png?20230803000914">
            {% elif prediction == "Costa-Rica" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Flag_of_Costa_Rica.svg">
            {% elif prediction == "Cuba" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Flag_of_Cuba.svg">
            {% elif prediction == "Cyprus" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Flag_of_Cyprus_%281960%E2%80%932006%29.svg">
            {% elif prediction == "Czechoslovakia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Roundel_of_Czechoslovakia_%28port_side%29.svg">
            {% elif prediction == "Denmark" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Flag_of_Denmark.svg">
            {% elif prediction == "Djibouti" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Flag_of_Djibouti.svg">
            {% elif prediction == "Dominica" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Flag_of_Dominica_%281988%E2%80%931990%29.svg">
            {% elif prediction == "Dominican-Republic" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Flag_of_the_Dominican_Republic.svg">
            {% elif prediction == "Ecuador" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Flag_of_Ecuador.svg">
            {% elif prediction == "Egypt" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Egypt.svg">
            {% elif prediction == "El-Salvador" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Flag_of_El_Salvador.svg">
            {% elif prediction == "Equatorial-Guinea" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/31/Flag_of_Equatorial_Guinea.svg">
            {% elif prediction == "Ethiopia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Flag_of_Ethiopia_%281987%E2%80%931991%29.svg">
            {% elif prediction == "Faeroes" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Flag_of_the_Faroe_Islands.svg">
            {% elif prediction == "Falklands-Malvinas" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Flag_of_the_Falkland_Islands_%281948%E2%80%931999%29.svg">
            {% elif prediction == "Fiji" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Fiji.svg/800px-Flag_of_Fiji.svg.png?20221205012540">
            {% elif prediction == "Finland" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Finland.svg">
            {% elif prediction == "France" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg">
            {% elif prediction == "French-Guiana" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Flag_of_French_Guiana.svg">
            {% elif prediction == "French-Polynesia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/db/Flag_of_French_Polynesia.svg">
            {% elif prediction == "Gabon" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Flag_of_the_President_of_Gabon_%281960%E2%80%931990%29.svg">
            {% elif prediction == "Gambia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_The_Gambia.svg">
            {% elif prediction == "Germany-DDR" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Flag_of_East_Germany.svg/800px-Flag_of_East_Germany.svg.png?20161201090758">
            {% elif prediction == "Germany-FRG" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg">
            {% elif prediction == "Ghana" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Ghana.svg">
            {% elif prediction == "Gibraltar" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Flag_of_Gibraltar.svg/800px-Flag_of_Gibraltar.svg.png?20140908142958">
            {% elif prediction == "Greece" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Greece.svg">
            {% elif prediction == "Greenland" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Flag_of_Greenland.svg">
            {% elif prediction == "Grenada" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Grenada.svg">
            {% elif prediction == "Guam" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Flag_of_Guam.svg">
            {% elif prediction == "Guatemala" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Flag_of_Guatemala.svg">
            {% elif prediction == "Guinea" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Flag_of_Guinea.svg/800px-Flag_of_Guinea.svg.png?20190824141121">
            {% elif prediction == "Guinea-Bissau" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Flag_of_Guinea-Bissau.svg">
            {% elif prediction == "Guyana" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Flag_of_Guyana.svg/800px-Flag_of_Guyana.svg.png?20231121144202">
            {% elif prediction == "Haiti" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Flag_of_Haiti.svg">
            {% elif prediction == "Honduras" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Flag_of_Honduras.svg">
            {% elif prediction == "Hong-Kong" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Flag_of_Hong_Kong_%281959%E2%80%931997%29.svg">
            {% elif prediction == "Hungary" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Flag_of_Hungary_%28with_K%C3%A1d%C3%A1r_coat_of_arms%29.svg">
            {% elif prediction == "Iceland" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Flag_of_Iceland.svg">
            {% elif prediction == "India" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Flag_of_India.svg">
            {% elif prediction == "Indonesia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Flag_of_Indonesia.svg">
            {% elif prediction == "Iran" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Flag_of_Iran.svg">
            {% elif prediction == "Iraq" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Flag_of_Iraq.svg">
            {% elif prediction == "Ireland" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Flag_of_Ireland.svg">
            {% elif prediction == "Israel" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/800px-Flag_of_Israel.svg.png?20200912160104">
            {% elif prediction == "Italy" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/03/Flag_of_Italy.svg">
            {% elif prediction == "Ivory-Coast" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_C%C3%B4te_d%27Ivoire.svg">
            {% elif prediction == "Jamaica" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Flag_of_Jamaica.svg">
            {% elif prediction == "Japan" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Flag_of_Japan_%281870%E2%80%931999%29.svg">
            {% elif prediction == "Jordan" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Flag_of_Jordan.svg">
            {% elif prediction == "Kampuchea" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Flag_of_Democratic_Kampuchea_%28version_from_the_Great_Soviet_Encyclopedia%29.png">
            {% elif prediction == "Kenya" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Kenya.svg">
            {% elif prediction == "Kiribati" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Flag_of_Kiribati_%283-2%29.svg">
            {% elif prediction == "Kuwait" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Flag_of_Kuwait.svg">
            {% elif prediction == "Laos" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Flag_of_Laos.svg">
            {% elif prediction == "Lebanon" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Flag_of_Lebanon_%281943-1995%29.svg">
            {% elif prediction == "Lesotho" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Flag_of_Lesotho_%281987%E2%80%932006%29.svg">
            {% elif prediction == "Liberia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Flag_of_Liberia.svg">
            {% elif prediction == "Libya" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Flag_of_Libya_%281977%E2%80%932011%29.svg">
            {% elif prediction == "Liechtenstein" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Flag_of_Liechtenstein.svg">
            {% elif prediction == "Luxembourg" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/da/Flag_of_Luxembourg.svg">
            {% elif prediction == "Malagasy" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Madagascar.svg/800px-Flag_of_Madagascar.svg.png?20230813153500">
            {% elif prediction == "Malawi" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Flag_of_Malawi.svg">
            {% elif prediction == "Malaysia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Flag_of_Malaysia.svg">
            {% elif prediction == "Maldive-Islands" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Flag_of_Maldives.svg">
            {% elif prediction == "Mali" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Flag_of_Mali.svg">
            {% elif prediction == "Malta" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Flag_of_Malta.svg">
            {% elif prediction == "Marianas" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Flag_of_the_Northern_Mariana_Islands.svg/800px-Flag_of_the_Northern_Mariana_Islands.svg.png?20230423152432">
            {% elif prediction == "Mauritania" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flag_of_Mauritania_%281959%E2%80%932017%29.svg/800px-Flag_of_Mauritania_%281959%E2%80%932017%29.svg.png?20201218022549">
            {% elif prediction == "Mauritius" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_Mauritius.svg"> 
            {% elif prediction == "Mexico" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg"> 
            {% elif prediction == "Micronesia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Flag_of_the_Federated_States_of_Micronesia.svg/760px-Flag_of_the_Federated_States_of_Micronesia.svg.png?20131220175701">
            {% elif prediction == "Monaco" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Flag_of_Monaco.svg"> 
            {% elif prediction == "Mongolia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Flag_of_the_Mongolian_People%27s_Republic_%281945%E2%80%931992%29.svg"> 
            {% elif prediction == "Montserrat" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Flag_of_Montserrat_%281960-1999%29.svg"> 
            {% elif prediction == "Morocco" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Flag_of_Morocco.svg">
            {% elif prediction == "Mozambique" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Flag_of_Mozambique_%28WFB_2000%29.svg">
            {% elif prediction == "Nauru" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Flag_of_Nauru.svg"> 
            {% elif prediction == "Nepal" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Flag_of_Nepal.svg">
            {% elif prediction == "Netherlands" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/800px-Flag_of_the_Netherlands.svg.png?20100406171959">
            {% elif prediction == "Netherlands-Antilles" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_Netherlands_Antilles_%281986%E2%80%932010%29.svg/800px-Flag_of_the_Netherlands_Antilles_%281986%E2%80%932010%29.svg.png?20190509083430"> 
            {% elif prediction == "New-Zealand" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Flag_of_New_Zealand.svg">
            {% elif prediction == "Nicaragua" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Nicaragua.svg">
            {% elif prediction == "Niger" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Flag_of_Niger_%283-2%29.svg"> 
            {% elif prediction == "Nigeria" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Flag_of_Nigeria.svg"> 
            {% elif prediction == "Niue" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Flag_of_Niue.svg"> 
            {% elif prediction == "North-Korea" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Flag_of_North_Korea_%281948%E2%80%931992%29.svg">
            {% elif prediction == "North-Yemen" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Flag_of_North_Yemen.svg/800px-Flag_of_North_Yemen.svg.png?20220219115410">
            {% elif prediction == "Norway" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Flag_of_Norway.svg">
            {% elif prediction == "Oman" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Oman.svg"> 
            {% elif prediction == "Pakistan" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Flag_of_Pakistan.svg">
            {% elif prediction == "Panama" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Flag_of_Panama.svg"> 
            {% elif prediction == "Papua-New-Guinea" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Flag_of_Papua_New_Guinea.svg"> 
            {% elif prediction == "Parguay" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Flag_of_Paraguay_%281988%E2%80%931990%29.svg">
            {% elif prediction == "Peru" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Flag_of_Peru.svg"> 
            {% elif prediction == "Philippines" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Flag_of_the_Philippines_%281936%E2%80%931985%2C_1986%E2%80%931998%29.svg">
            {% elif prediction == "Poland" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/12/Flag_of_Poland.svg">
            {% elif prediction == "Portugal" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg"> 
            {% elif prediction == "Puerto-Rico" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Flag_of_Puerto_Rico.svg">
            {% elif prediction == "Qatar" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Flag_of_Qatar.svg"> 
            {% elif prediction == "Romania" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flag_of_Romania.svg/600px-Flag_of_Romania.svg.png?20160520173724">
            {% elif prediction == "Rwanda" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Flag_of_Rwanda_%281962%E2%80%932001%29.svg/800px-Flag_of_Rwanda_%281962%E2%80%932001%29.svg.png?20230116205302"> 
            {% elif prediction == "San-Marino" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Flag_of_San_Marino.svg"> 
            {% elif prediction == "Sao-Tome" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Flag_of_S%C3%A3o_Tom%C3%A9_and_Pr%C3%ADncipe.svg"> 
            {% elif prediction == "Saudi-Arabia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Flag_of_Saudi_Arabia_%281938%E2%80%931973%29.svg"> 
            {% elif prediction == "Senegal" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Flag_of_Senegal.svg"> 
            {% elif prediction == "Seychelles" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Flag_of_Seychelles_%281977%E2%80%931996%2C_2-3%29.svg">
            {% elif prediction == "Sierra-Leone" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/17/Flag_of_Sierra_Leone.svg"> 
            {% elif prediction == "Singapore" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Flag_of_Singapore.svg">
            {% elif prediction == "Soloman-Islands" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Flag_of_the_Solomon_Islands.svg">
            {% elif prediction == "Somalia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Flag_of_Somalia.svg"> 
            {% elif prediction == "South-Africa" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Flag_of_South_Africa_%281928%E2%80%931994%29_without_Union_Jack.svg">
            {% elif prediction == "South-Korea" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_South_Korea_%281984%E2%80%931997%29.svg">
            {% elif prediction == "South-Yemen" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/Flag_of_South_Yemen_%2816-9%29.svg">
            {% elif prediction == "Spain" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg"> 
            {% elif prediction == "Sri-Lanka" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Flag_of_Sri_Lanka_%2816-9%29.png">
            {% elif prediction == "St-Helena" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5b/Flag_of_Saint_Helena_%281984-2019%29.svg">
            {% elif prediction == "St-Kitts-Nevis" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Saint_Kitts_and_Nevis.svg">
            {% elif prediction == "St-Lucia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Flag_of_Saint_Lucia_%281979%E2%80%932002%29.svg">
            {% elif prediction == "St-Vincent" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Flag_of_Saint_Vincent_and_the_Grenadines.svg">
            {% elif prediction == "Sudan" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Flag_of_Sudan.svg">
            {% elif prediction == "Surinam" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Flag_of_Suriname.svg"> 
            {% elif prediction == "Swaziland" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/Flag_of_Swaziland_%281967%E2%80%932011%29.svg">
            {% elif prediction == "Sweden" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Flag_of_Sweden.svg"> 
            {% elif prediction == "Switzerland" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Switzerland.svg"> 
            {% elif prediction == "Syria" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Flag_of_Syria.svg">
            {% elif prediction == "Taiwan" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Flag_of_the_Republic_of_China.svg"> 
            {% elif prediction == "Tanzania" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Flag_of_Tanzania.svg/800px-Flag_of_Tanzania.svg.png?20221212120308">
            {% elif prediction == "Thailand" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_Thailand.svg"> 
            {% elif prediction == "Togo" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/68/Flag_of_Togo.svg"> 
            {% elif prediction == "Tonga" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Tonga.svg">
            {% elif prediction == "Trinidad-Tobago" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Flag_of_Trinidad_and_Tobago.svg"> 
            {% elif prediction == "Tunisia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Flag_of_Tunisia_%281959%E2%80%931999%29.svg"> 
            {% elif prediction == "Turkey" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Flag_of_Turkey.svg">
            {% elif prediction == "Turks-Cocos-Islands" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Flag_of_the_Turks_and_Caicos_Islands.svg"> 
            {% elif prediction == "Tuvalu" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/Flag_of_Tuvalu_%281978%E2%80%931995%29.svg"> 
            {% elif prediction == "UAE" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Flag_of_the_President_of_the_United_Arab_Emirates_%281973%E2%80%932008%29.svg"> 
            {% elif prediction == "Uganda" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Flag_of_Uganda.svg"> 
            {% elif prediction == "UK" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg">
            {% elif prediction == "Uruguay" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Uruguay.svg/800px-Flag_of_Uruguay.svg.png?20210102025107"> 
            {% elif prediction == "US-Virgin-Isles" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Flag_of_the_United_States_Virgin_Islands.svg">
            {% elif prediction == "USA" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Flag_of_the_United_States_of_America_%28American_Legion%29.jpg">
            {% elif prediction == "USSR" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_the_Soviet_Union.svg">
            {% elif prediction == "Vanuatu" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Flag_of_Vanuatu_%28official%29.svg">
            {% elif prediction == "Vatican-City" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Flag_of_the_Vatican_City_%281929-2001%29.svg">
            {% elif prediction == "Venezuela" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Flag_of_Venezuela_%281930%E2%80%932006%29.svg">
            {% elif prediction == "Vietnam" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/800px-Flag_of_Vietnam.svg.png?20170626140925">
            {% elif prediction == "Western-Samoa" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Flag_of_Samoa_%28WFB_2000%29.jpg">
            {% elif prediction == "Yugoslavia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Flag_of_Yugoslavia_%281946-1992%29.svg/800px-Flag_of_Yugoslavia_%281946-1992%29.svg.png?20240317075423"> 
            {% elif prediction == "Zaire" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Flag_of_Zaire_%281971%E2%80%931997%29.svg">
            {% elif prediction == "Zambia" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Flag_of_Zambia_%281964%E2%80%931996%29.svg"> 
            {% elif prediction == "Zimbabwe" %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Flag_of_Zimbabwe.svg">                                                                 
            {% endif %}
            <br>
            <br>
            <p>{{ prediction }}</p>
            <form id="reload">
                <input type="button", value="Try Again", onclick="window.location.reload();">
            </form>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>